#detalles-pedidos {
	display: block !important;
}

.latte{
  /*max-height: 20em;*/
  float: left;
  /*margin-bottom: 7em;*/
  text-align: center;
}

.cantidad {
  margin-bottom: 1em;
}

.latte img {  
  margin: 0 auto;
  max-width: 40em;
  max-height: 22em;
}

.t1{
  float: right;
  width: 100%;
}

.t2{
  border: 1px solid black;
  background-color: #428bca;
  color: white;
}

.numero{
  width: 50px;
}
