body {
	padding-top: 0em;
	font-size: 1.2em;
  background: #EEE;
}

main { background: white; margin-top: -2em; }

a.btn {
	text-decoration: none;
}

.btn.active {
	background: solid;
	color: #AAA;
}

footer {
	text-align: center;
	color: white;
	background: #555555;
}

footer a {
	color: white;
	text-decoration: underline;
}

button[type='submit'] {
	margin-top: 1.5em;
}

.texto-rojo {
	color: #BD2713;
}

.row {
	margin-bottom: 0.5em;
}

.producto-imagen{
	width: 6em;
	margin: 0 auto;
}

.pagination {
	margin: 0;
}

button[type='submit'] {
	margin-top: 1.5em;
}

table {
	width: 100%;
}

table .btn-group {
	min-width: 5em;
}

.table-responsive {
	overflow-x: auto;
}

table td,
table th {
	vertical-align: middle !important;
	text-align: center;
}

.colorpicker {
	z-index: 1000;
}

.variantes {
	position: relative;
	padding-top: 2.3em;
}

.variantes .titulo {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	font-weight: bold;
}

.variantes .detalles {
	display: inline-block;
	margin: 0.5em 1em;
}

.colorDiv {
	width: 4em;
	height: 4em;
	border: 0.1em #AAA solid;
	border-radius: 0.2em !important;
	transition: 0.3s;
}

.colorDiv.active {
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.2);
	border: 0.15em #BF0000 solid;
}

.admin-detalles-variantes {
	border-radius: 0.5em;
	transition: 0.2s;
}

.admin-detalles-variantes.active {
	background: white;
}

.acciones-bar > * {
	margin-right: 0.3em;
}

.alert {
	margin-bottom: 0;
}

.form-control {
	min-height: 2.5em;
    height: auto;
}